<template lang="pug">
  .home
    v-container
      campo(p_nombre="Kristie", p_apellido="Lesly", p_especialidad="Cinthya")  
        
</template>
<script>
import campo from '@/components/input'
export default {
  name: 'home',
  components: {
    campo
  },

}
</script>
