<template lang="pug">
  .home
    v-container
      .table-cal
        v-btn(@click="agregar", color="primary") Agregar Producto
        v-row(v-for="item in zapatillas", align="center", :key="item.z_id")
          v-col(cols="5")
            v-autocomplete(v-model="item.z_producto", :items="calzado",item-value="id", item-text="name", label="Producto", @change="obtenerProducto(item)")
          v-col(cols="2")
            v-text-field(v-model="item.z_precio", label="Precio", @keyup="obtenerValor(item)" )
          v-col(cols="2")
            v-text-field(v-model="item.z_cantidad", label="Cantidad", @keyup="obtenerValor(item)")
          v-col(cols="2")
            v-text-field(v-model="item.z_total", label="Total")
          v-col(cols="1")
            v-btn(color="error",icon, @click="eliminarProducto(item.z_id)")
              v-icon close
        //pre {{zapatillas}}  
        h2 S/. {{total}}
</template>
<script>

export default {
  name: 'home',  
  data: () => ({
    total : parseFloat(0).toFixed(2),
    zapatillas: [],
    calzado: [
              {
                id: 1,
                name: "zapatillas tigre",
                price: 30.4,
                canti: 3
              },
              {
                id: 2,
                name: "zapatillas Lynx",
                price: 70.00,
                canti: 19
               },
              {
                id: 3,
                name: "zapatillas Disney",
                price: 58.60,
                canti: 32
               } 
      ]
  }),
  methods: {
    agregar(){      
      var n = this.zapatillas.length      
      this.zapatillas.push({
        z_id: n+1,
        z_producto: '',
        z_precio: '',
        z_cantidad: '',        
        z_total: ''
      })
    },
    obtenerValor(item){
      var cantidad = item.z_cantidad;
      var precio   = item.z_precio;
      var result   = cantidad * parseFloat(precio).toFixed(2);
      item.z_total = parseFloat(result).toFixed(2);
      var total    = 0;      
      this.zapatillas.forEach(function(v){      
        total = parseFloat(total) + parseFloat(v.z_total);
      });         
      this.total = parseFloat(total).toFixed(2) || 0.00;
    },
    obtenerProducto(item){
      var id = item.z_producto;
      var items = this.calzado;
      var result;
      items.forEach(function(v){
        if(id == v.id){
          result = v.price
        }
      })
      item.z_precio = result
    },
    eliminarProducto(item){
      this.zapatillas.splice(item,1);
      var total    = 0;      
      this.zapatillas.forEach(function(v){      
        total = parseFloat(total) + parseFloat(v.z_total);
      });         
      this.total = parseFloat(total).toFixed(2) || 0.00;  
    }
  }
}
</script>
<style lang="stylus">
      
</style>
