<template lang="pug">
  .home
    v-container
      .home-content
        section
          v-row
            v-col
              h1 Registro de datos
              v-text-field(v-model="txtNombre", label="Nombre")
              v-text-field(v-model="txtApellidos", label="Apellidos")
              v-text-field(v-model="txtEspecialidad", label="Especialidad")                
            v-col
              v-textarea(v-model="txtDescrip", label="Descripción").inputArea
          v-btn(@click="obtenerDatos") Obtener DATOS
        section
          campo(:p_nombre="nombre", :p_apellido="apellidos", :p_especialidad="especialidad")
          
          p {{descrip}}
          ul(v-show="mostrar")
            li(v-for="elemento in items") {{elemento.name}}
</template>
<script>
import campo from '@/components/input'
export default {
  name: 'home',
  components: {
    campo
  },
  data: () => ({
    nombre: '',
    apellidos: '',
    descrip: '',
    especialidad: '',
    txtNombre: '',
    txtApellidos: '',
    txtEspecialidad: '',
    txtDescrip: '',
    mostrar: false,
    items: [
      {
        id: 1,
        name: 'Manejar bici'
      },
      {
        id: 2,
        name: 'Comer bastante'
      },
      {
        id: 3,
        name: 'Enseñar'
      },
      {
        id: 4,
        name: 'Proactivo'
      }
    ]
  }),
  methods: {
    obtenerDatos(){
      this.nombre = this.txtNombre;
      this.apellidos = this.txtApellidos;
      this.especialidad = this.txtEspecialidad;
      this.descrip  = this.txtDescrip;
      this.mostrar  = true;
    }
  }
}
</script>
<style lang="stylus">
  ul
    display flex
    justify-content space-around
    li
      font-size 1.2em
      
</style>
