<template lang="pug">
  .login
    v-container
      v-card
        v-card-text          
          v-form(v-model="formLogin", ref="form", lazy-validation).login-content
            h1.text-center Iniciar Sesión
            v-text-field(v-model="txtCorreo" label="Correo electrónico", :rules="rulesCorreo")
            v-text-field(v-model="txtClave" label="Contraseña", :rules="rulesClave")
            v-btn(@click="validarIngreso", large).orange.darken-1.login-btn Iniciar Sesión 
</template>
<script>
import Api from '@/services/api';
import { mapActions } from 'vuex';

export default{
  name: 'login',  
  data: () =>({
    rulesClave: [
      v => !!v || 'Ingrese su Contraseña'
    ],
    rulesCorreo: [
      v => !!v || 'Ingrese su Correo Electrónico'
    ],
    txtClave: '',
    txtCorreo: '',
    formLogin: true
  }),
  methods:{
    ...mapActions(['doLogin']),
    validarIngreso(){
      if(this.$refs.form.validate()){
        var clave  = this.txtClave;
        var correo = this.txtCorreo;
        var datos = {
          email: correo,
          password: clave,
          token: false
        };        
        Api().post('employee/login', datos).then(response => { 
          if(response.data.data.details[0].message){
            alert('Sus campos no son validos');
            console.log('error', response)
          }else{
            console.log('vamos perú', response);
            localStorage.setItem('token', response.data.token);
            localStorage.setItem('rol', response.data.data.Role.name);
            this.$router.push({name:'products'})
          }
          
        })
        .catch(error    => { console.log('Erro login', error) });        
      }
      
    }
  }
}
</script>
<style lang="stylus">
  .login
    margin 45px auto 0 auto
    max-width 700px
    h1
      font-size 2.5em
      margin-bottom 35px  
    &-btn
      display flex!important
      margin 20px auto
      justify-content center!important
      
      .v-btn__content
        color white!important
    &-content
      overflow hidden
      padding 20px 30px
  
</style>
