<template lang="pug">
  .input
    v-row
      v-col 
        h2 {{p_nombre}}
      v-col
        h2 {{p_apellido}}
    h2 {{p_especialidad}}
</template>
<script>
export default {
  name: 'input',
  props: {
    p_nombre: {
      type: String
    },
    p_apellido: {
      type: String
    },
    p_especialidad: {
      type: String
    },
  },  
  
}
</script>
