<template lang="pug">
  v-app
    router-view
    //v-container      
      v-text-field(v-model="inputM", label="Nombre")
      v-btn(@click="obtenTexto") Obtener
      h1 {{message}}
</template>
<script>
export default {
  name: 'App',
  data: () => ({
    inputM: '',
    message: ''    
  }),
  methods:{
    obtenTexto(){
      this.message =  this.inputM;
    }
  }
};
</script>
<style lang="stylus">
  h1
    color green
  
</style>
